@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row first-section">
    <!--section.first-section-->

    <div class=" col conteudo-principal">
        <!--.conteudo-principal-->
        <h1>Deixe Seu Dia Mais Saboroso!!!</h1>
        <h2>As pizzas mais recheadas da Região</h2>

    </div>

</div>
