
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/sobre.css" rel="stylesheet" />
<h1 id="id_titulo">Sobre Nós</h1>

<div class="row p-3">

    <div class="col-lg-6 col-md-6 col-sm-12 px-5"
         style="height: auto;">
        <div class="text-center">
            <img src="../img/pizzaria_sobre2.png" class="img-fluid"
                 style="width: 100%; height: auto;">
        </div>
        <p class="display-6" style="height: auto;">
            Lorem ipsum
            dolor sit amet consectetur
            adipisicing elit.
            Repudiandae quia numquam ea repellat corrupti
            est nulla hic voluptatibus deleniti amet nam praesentium beatae
            incidunt, laboriosam obcaecati veniam in
            esse nesciunt.
        </p>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 px-5">
        <div class="text-center">
            <img src="../img/pizzaria_sobre.png" class="img-fluid"
                 style="height: auto; width: 100%;">
        </div>

        <p class="display-6 " style="height: auto;">
            Lorem ipsum dolor sit amet
            consectetur
            adipisicing elit.
            Repudiandae quia numquam ea repellat corrupti
            est nulla hic voluptatibus deleniti amet nam praesentium beatae
            incidunt, laboriosam obcaecati veniam in
            esse nesciunt.
        </p>
    </div>
</div>